@model User



<div class="container">
        
        <h1>Your  Wedding Planner !</h1><br>
        <h1>Plan a Wedding !</h1><br>
        <h1>Allow Guests to RSVP !!</h1><br> 
        <h1>Signup or Login to begin planning !!! </h1> <br><br><hr>

        <partial name="RegPartial"/>  <hr>
        <partial name="LoginPartial"/> 


</div>